<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- hasRole gibi expressionları kullanabilmek için use-expressions true yapılıyor -->
    <!-- Custom provider kullandığımız için auto-config false yapıldı. -->
    <security:http auto-config="false" use-expressions="true">

        <!-- Kimliklendirmeye göre kullanıcının giremeyeceği url ler belirleniyor -->
        <security:intercept-url pattern="/rest/export" access="hasRole('ROLE_ADMIN')"/>
        <!-- Login işlemi başarılı ve başarısız olduğunda yönlendirilecek url ler belirleniyor. -->
        <security:form-login login-processing-url="/j_spring_security_check" login-page="/#login"
                             default-target-url="/#menu"
                             authentication-failure-url="/?error=1#login"
                             always-use-default-target="true"/>
        <!-- Logout işlemi sonrasında gidilecek url belirleniyor -->
        <security:logout invalidate-session="true" logout-success-url="/"/>
    </security:http>

    <!-- Tanımlanmış olan CustomProvider Spring Security'e entegre ediliyor -->
    <security:authentication-manager>
        <security:authentication-provider ref="authenticationProvider"/>
    </security:authentication-manager>

    <!-- Data Source -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3307/toyotadb" />
        <property name="username" value="root" />
        <property name="password" value="12345" />
    </bean>
</beans>